li.media
  .media-body
    .media
      a.pull-left(href='#')
        img.media-object.img-circle(src='assets/img/user.png')
          |                                                 
            .media-body
              | Donec sit amet ligula enim. Duis vel condimentum massa.
                | Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                  | Duis vel condimentum massa.
                    | Donec sit amet ligula enim. Duis vel condimentum massa.
                      br
                        |                                                    
                        small.text-muted Alex Deo | 23rd June at 5:00pm
                        |                                                     
                        hr
                |      
