li.media
  .media-body
    .media
      a.pull-left(href='#')
        img.media-object.img-circle(style='max-height:40px;', src='assets/img/user.png')
          |                                                 
            .media-body
              h5 Alex Deo | User 
                |                                                     
                  |                                                    
                    small.text-muted Active From 3 hours
                |      
